.hero-section {
    position: relative;
    height: 70vh; 
    width: 100%;
    overflow: hidden;
    
}
  
.hero-background {
    background-image: url("/static/images/background_image.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7; 
    z-index: 1;
}
  
.hero-overlay {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.hero-title {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    font-weight: 100;
}

.title-section {
    position: relative;
    background-color: #149e7e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 0;  /* <-- kluczowe */
}

.title {
    text-align: center;
    color: #f9f9f9;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}
.top-countries-section {
    text-align: center;
    padding: 2rem 1rem;
  }

.top6{
    font-size: 2rem;
    font-weight: 100;
}
.top-countries-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.country-card {
    position: relative;
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.country-card:hover {
    transform: translateY(-5px);
}

.country-card img {
  width: 150px;
  margin-bottom: 0.5rem;
}

.rank {
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
  
.country-card .name {
  font-size: 1rem;
  font-weight: 500;
}

.country-tooltip-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-top: 0.5rem;
  }
  
.country-tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: #333333b5;
    color: #fff;
    text-align: center;
    padding: 6px 8px;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    top: 170%;

   
  
    opacity: 0;
    transition: opacity 0.3s;
}
  
.country-tooltip-wrapper:hover .country-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.dyanmic-chart-section {
    padding: 40px 0;
    text-align: center;
}
  
.dynamic-chart-title {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

#dynamicChart {
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
.year-range-label{
    text-align: center;
    font-size: 1.5rem;
}

.learn-more{
    position: relative;
    text-align: center;
}

.learn-more-title{
    font-size: 2rem;
    font-weight: 100;
}

.learn-more a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #149e7e;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.learn-more a:hover{
    text-decoration: underline;
}
