.hero {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #e0f0ff;
}

.hero h1 {
    font-size: 2.5rem;
}

.info-section {
    padding: 2rem;
    background-color: #ffffff;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    width: 100%;
    max-width: 600px; /* Maximum width of the container */
    margin: auto; /* Center the container */
    position: relative;
    overflow: hidden;
    padding-top: 30%; /* Adjust this value for a taller map, e.g., 75% */
}

/* w nowej wersji usunięto*/

/* .image img {
    max-width: 30%;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.reverse .image {
    order: 1;
}


.reverse .image img {
    max-width: 250px;
} */

.animated-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.animated-section.visible {
    opacity: 1;
    transform: translateY(0);
}