{% extends "base.html" %}
{% load static %}
{% load custom_filter %}
{% block page_content %}

<div class="category-info-section">
  <div class="category-info-overlay">
    <h2>Understanding Energy Categories</h2>
    <p>
      Explore different types of energy data such as production, consumption, and transformation.
      Each category gives you insight into how energy is generated and used across European countries.
      Click on a category to see available data by country and year.
    </p>
  </div>
</div>

<div class="category-grid">
  {% for category in categories %}
  
    <a href="{% url 'category_detail' category.id %}" class="category-card">
      <img src="{% static 'icons/' %}{{ category.name|to_slug }}.png" alt="Ikona" class="category-icon">
      
      <span class="category-name">{{ category.name|remove_units }}</span>
    </a>
   
  {% endfor %}
  
</div>




{% endblock %}
