{% extends "base.html" %}
{% load static %}
{% load custom_filter %}
{% block page_content %}
<div class="countries-container">
  <div class="category-header">
    <img src="{% static 'icons/' %}{{ category.name|to_slug }}.png"
         alt="Ikona kategorii" class="category-icon-large">
    <h1 style="font-weight: 100;">{{ category.name|remove_units }}</h1>
  </div>

  <input type="text" id="countrySearch" placeholder="Search..." class="search-bar">

  <!-- LISTA ZWIJANA -->
  <div class="scrollable-list-wrapper">
    <ul class="country-list">
      {% for country in countries %}
        <li class="country-entry">
          <a href="{% url 'country_view' country.code %}?category={{ category.id }}">
            <img src="https://flagcdn.com/h40/{{ country.code|lower }}.png" alt="{{ country.name }}" class="flag-icon">
            {{ country.name }}
          </a>
        </li>
      {% empty %}
        <li>Brak dostępnych danych dla tej kategorii.</li>
      {% endfor %}
    </ul>
  </div>

  <p>
    <a href="{% url 'categories' %}" class="back-button">
      <i class="fas fa-arrow-left"></i> Back to category list
    </a>
  </p>
</div>

<!-- Panel informacyjny -->
<div class="info-panel" id="infoPanel">
  <div class="info-toggle" onclick="togglePanel()">
    <span>&#x25C0;</span>
  </div>
  <div class="info-content">
    <h3>About this Category</h3>
    <p>{{ category_description }}</p>
    <p style="text-decoration: underline;">
      Use the search bar to find a specific country or explore the full list.
    </p>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const input = document.getElementById("countrySearch");
  const items = document.querySelectorAll(".country-entry");

  input.addEventListener("input", function () {
    const query = input.value.toLowerCase();
    items.forEach(item => {
      const text = item.textContent.toLowerCase();
      item.style.display = text.includes(query) ? "flex" : "none";
    });
  });
});
</script>

<script>
  function togglePanel() {
    const panel = document.getElementById("infoPanel");
    panel.classList.toggle("open");
  
    const toggle = panel.querySelector(".info-toggle span");
    toggle.innerHTML = panel.classList.contains("open") ? "&#x25B6;" : "&#x25C0;";
  }
</script>
  


{% endblock %}

