{% extends "base.html" %}
{% block page_content %}
<h1>Select a Country</h1>

<!-- home jako menu + searchbar dla wyszukiwania panstw, searchbar pozniej zamienic interaktywna karta? -->
<input type="text" id="countrySearch" placeholder="Search for a country..."
    style="margin-bottom: 10px; padding: 5px; width: 100%; max-width: 400px;">

<ul id="countryList">
    {% for country in countries %}
    <li>
        <a href="{% url 'country_view' country.code %}?category={{ selected_category_id }}">{{ country.name }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Select a Category</h2>
<form method="get" id="categoryForm">
    <select name="category">
        {% for category in categories %}
          <option value="{{ category.id }}" {% if category.id == selected_category_id %}selected{% endif %}>
            {{ category.name }}
          </option>
        {% endfor %}
      </select>
</form>




<script>
    const searchInput = document.getElementById('countrySearch');
    const countryList = document.getElementById('countryList');
    const countries = countryList.getElementsByTagName('li');

    searchInput.addEventListener('input', function () {
        const filter = this.value.toLowerCase();
        let anyVisible = false;

        Array.from(countries).forEach((li) => {
            const text = li.textContent.toLowerCase();
            const match = text.includes(filter);
            li.style.display = match ? '' : 'none';
            if (match) anyVisible = true;
        });

        countryList.style.display = filter && anyVisible ? 'block' : 'none';
    });
</script>
{% endblock page_content %}