{% extends "base.html" %}
{% load static %}
{% load custom_filter %}

{% block page_content %}
<!-- Welcome Section -->
<section class="hero">
  <div class="hero-content">
      <h1 class="hero-title"><span>Welcome to the Energy Analysis Platform</span> 📈</h1>
      <p class="hero-subtitle">Analyze, explore, and compare Europe's energy data.</p>
      <!-- <a href="{% url 'categories' %}" class="cta-button">Browse Categories</a> -->
  </div>
</section>


<!-- About Us Section -->
<section class="info-section">

  <h3>Where are we?</h3>
  <p>Our office is located in the heart of Wrocław, Poland.</p>

  <div class="container">
      <div class="section">
          <h2>Address</h2>
          <p><strong>Energy Statistic App Office</strong></p>
          <p>📍 Świdnicka Street 12, Wrocław, Poland</p>
          <p>☎️ +48 123 456 789</p>
          <p>✉️ <a href="mailto:kontakt@energyapp.pl">kontakt@energyapp.pl</a></p>
      </div>

    <div class="section">
      <h2>Find us on the map</h2>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2419.6813940162826!2d17.03334851572278!3d51.10792381831948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc20b6cd941e1%3A0x30a163b8599a5a6!2s%C5%9Awidnicka+12%2C+50-067+Wroc%C5%82aw!5e0!3m2!1spl!2spl!4v1673032492481!5m2!1spl!2spl"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          style="border: 0;">
        </iframe>
      </div>
    </div>
  </div>
</section>

<!-- What We Offer Section -->
<section class="info-section animated-section">
  <h2>Our Features</h2>
  <ul>
      <li>📊 <strong>Interactive Charts</strong> – dynamic analyses.</li>
      <li>🔍 <strong>Country Comparisons</strong> – explore data.</li>
      <li>📈 <strong>Energy Consumption Forecasts</strong> – advanced models.</li>
      <li>📜 <strong>Country Comparison in PNG</strong> – export data.</li>
  </ul>
</section>

<!-- About Us Link -->
<section class="info-section animated-section">
  <h2>Learn More About Us</h2>
  <p>Want to know more about our mission and office?</p>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      let sections = document.querySelectorAll(".animated-section");

      function revealSections() {
          sections.forEach(section => {
              let position = section.getBoundingClientRect().top;
              let windowHeight = window.innerHeight;

              if (position < windowHeight - 100) {
                  section.classList.add("visible");
              }
          });
      }

      window.addEventListener("scroll", revealSections);
      revealSections();
  });
</script>


{% endblock %}
